

<% @officers.each do |x| %>
	<div>
		<div>
			<a href="/officer/<%= x.id %>" > APSA Officers </a> <br>
		</div>

		<div>
			<a href="/professor/index" > Faculty Members </a> <br>
		</div>
	</div>
<% end %>

