<table>
<tr>
  <th> Subject Code </th>
  <th> Subject Title </th>
</tr>
<% @subjects.each do |x| %>
<table>

  <tr>
    <td> <a href = "/subject/<%= x.id %>" /> <%= x.subject_code %></a> </td>
    <td><%= x.subject_title  %> </td>
  </tr>

  <tr>

  </tr>
</table>

<% end %>

</table>

<% if @user_id != 1  && current_user.presence %>
  <%= link_to "Add Subject" , subject_new_path %>
<% end %>
