<table>
<tr>
  <th> Subject Code </th>
  <th> Subject Title </th>
</tr>
<% @Subjects.each do |x| %>
<table>

  <tr>
    <td> <a href = "/subject/<%= x.id %>" /> <%= x.subject_code %></a> </td>
    <td><%= x.subject_title  %> </td>
  </tr>

  <tr>

  </tr>
</table>

<% end %>

</table>

<%= link_to "Add Subject" , subject_new_path %>
