<table class = "table table-striped">
 
 <thead>
	<tr>
  		<th> Subject Code </th>
  		<th> Subject Title </th>
	</tr>
</thead>

<tbody>
<% @subjects.each do |x| %>

  <tr>
    <td> <a href = "/subject/<%= x.id %>" /> <%= x.subject_code %></a> </td>
    <td><%= x.subject_title  %> </td>
  </tr>


<% end %>

</tbody>

</table>


<% if @user_id != 1  && current_user.presence %>
<a href ="new" class="btn btn-primary btn-lg" role="button" > Add Subject </a>
<% end %>