// Place all the styles related to the officers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.officer-left
{
	float: left;
	width: 50%;
	height: 100%;
	background-color: lightblue;
	text-align: center;
	padding-top: 200px;	

}