// Place all the styles related to the professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.professor-right
{
	float: right;
	width: 50%;
	height: 100%;
	background-color: lightgreen;
	text-align: center;
	padding-top: 200px;
}

