// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//book image in research index
.research
{
  width: 250px;
  height: 350px;
  margin: 20px;
}


.reasearch-container
{
  border: 2px solid;
}


//book image in research show
.research-show
{
  width: 325px;
  height: 475px;
}